/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/InferenciaTiposVarConTiposPrimitivos/nbproject/private/
/InferenciaTiposVarConTiposPrimitivos/build/
/TiposPrimitivosChar/nbproject/private/
/TiposPrimitivosChar/build/
/TiposPrimitivosBoolean/nbproject/private/
/TiposPrimitivosBoolean/build/
/ConversionTiposPrimitivos/nbproject/private/
/ConversionTiposPrimitivos/build/
/TiendaLibros/nbproject/private/
/TiendaLibros/build/
/OperadoresJava/nbproject/private/
/OperadoresJava/build/
/SentenciasDeControl/nbproject/private/
/SentenciasDeControl/build/
